@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Righteous&display=swap');

.App {
  font-family: 'Righteous';
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  /* background: #0d0427; */
  overflow: hidden;
  touch-action: none;
}

.interface {
  position: absolute;
  top: 10px;
  left: 10px;
  max-width: 355px;
  height: 100%;
  z-index: 1;
  background-color: #353232;
  color: #D9D9D9;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}



.nav-tabs .nav-item .nav-link.active {
  background-color: #30718f !important; /* Blue background */
  color: #ecf5f9;
}

.nav-tabs .nav-item .nav-link:not(.active) {
  background-color: #ecf5f9 !important; /* Yellow background */
  color: #30718f;
}


.nav-tabs .nav-item .nav-link:hover {
  background-color: #5898b6 !important; /* Blue background */
  color: #ecf5f9;
}

.model-tab-config {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
  flex-wrap: wrap;
}

.trait {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.4s;
}

.trait:hover {
  cursor: pointer;
  opacity: 0.6;
}

.trait-box {
  width: 32px;
  height: 32px;
  border-radius: 10%;
  
}

.trait.trait-spec .trait-box {
  border: solid 2px #272727;
}

.screenshot-container {
  position: absolute;
  bottom: 1%;
  right: 5%;
}

.config-button {
  background-color: #3498db;
  color: #fff;
  padding: 10px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.config-button:hover {
  background-color: #2980b9;
}

/* Customize the appearance of the file upload input */
input[type="file"] {
  display: none;
}

.interface label[for="file-upload"] {
  background-color: #3498db;
  color: #fff;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
}

.interface label[for="file-upload"]:hover {
  background-color: #2980b9;
}

.carousel-block-1, .carousel-block-2, .carousel-block-3 {
  width: 50%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}


/* Customizing the icons within the controls for better visibility */
.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: #30718f;
  border-radius: 50%;
  padding: 30px;
}

.carousel-indicators button {
  background-color: #30718f !important;
  width: 20px !important;
  height: 20px !important;
  border-radius: 50%;
}

/* Customizing the active indicator */
.carousel-indicators .active {
  background-color: #0a4058 !important;
}

.img-block {
  width: 200px;
  height: 200px;
  object-fit: cover;
}


